{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Contact</h1>
        <p><a class="btn btn-primary btn-lg" role="button" href="/firm/add/">Add a Firm!</a></p>
	  </div>
    </div>
<h2>A list of Contacts</h2>
    <ul>
        {% for contact in object_list %}
            <a href="{{contact.get_absolute_url}}"><li>{{ contact.last_name }}, {{contact.first_name}}</li></a>
        {% endfor %}
    </ul>
{% endblock content %}