{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{firm.firm_name}}</h1>
		<p><a class="btn btn-primary btn-lg" role="button" href="/firm/addnote/{{firm.id}}">Add a Note!</a></p>
      </div>
    </div>
<div class="row">
<div class="col-md-6">
<h2>Notes</h2>
<ul>
{%for note in notes%}
<li><a href="{{note.get_absolute_url}}">{{note.created}}</a>, <a href="{{note.contact.get_absolute_url}}">{{note.contact}}</a>: {{note.content}} -- (Added by: {{note.user}})</li>
{% endfor %}
</ul>
</div>
<div class="col-md-6">
<h2>Reminders</h2>
{%for reminder in reminders%}
<li><a href="{{reminder.get_absolute_url}}">{{reminder.reminder_date}}</a>, <a href="{{reminder.note.get_absolute_url}}">{{reminer.reminder_content}}</a> -- (Added by: {{note.user}})</li>
{% endfor %}
</div>
</div>

{% endblock content %}