{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Reminder re: <a href="{{reminder.note.contact.get_absolute_url}}">{{reminder.note.contact}}</a></h1>
        <h2>Firm: <a href="{{reminder.note.firm.get_absolute_url}}">{{reminder.note.firm}}</a></h2>
        {% if reminder.note.contact.title %}<h2>{{reminder.note.contact.title}}</h2>{% endif %}
        {% if reminder.note.contact.contact_notes %}<p>{{reminder.note.contact.contact_notes}}</p>{% endif %}
        <p>{{reminder.note.contact.phone_number}}</p>
        <p><a href="mailto:{{reminder.note.contact.email}}"><button type="button" class="btn btn-danger btn-lg">Send Email</button></a></p>
		<p><a class="btn btn-primary btn-lg" role="button" href="/firm/addnote/{{note.firm.id}}">Add a Note!</a></p>
      </div>
    </div>
<h3>{{reminder.reminder_date}}<form method="POST">{%csrf_token%}<button type="submit" style="float:right" class="btn btn-lg btn-success">Done!</button></form></h3>
{% if reminder.done == True %}<p><del><a href="{{reminder.get_absolute_url}}">{{reminder.reminder_content}}</a></del></p>
{% else %}
<p><a href="{{reminder.get_absolute_url}}">{{reminder.reminder_content}}</a></p>
{% endif %}
<hr/>
<p>Reminder for: <a href="{{reminder.note.get_absolute_url}}"><em>{{reminder.note.content}}</em></a></p>
{% endblock content %}